<div id="about-main">
  <div id="about-center">
    <img src="../../assets/GalvanizePic.jpg" />
    <h1>The Long and Short of It</h1>
  </div>
  <article class="container info-panel">
    <div class="text-hold">
      <h3 class="info-title">Get Out There</h3>
      <p class="info-text" style="clear:both">
        I grew up in an inconsequential town in Southwestern Ohio. Since graduating high school in 2006, I haven't really stayed in one place for very long. My studies in English Language and Literature during college
        at Ohio University left me with a lust to see the wide, wild, wondrous world described in the books I'd read, and every time I come home I'm left gratified and hungry for another adventure.
        Most recently I marked off Singapore, Thailand, and Indonesia from my growing bucket-list of travel destinations, and in the next year a friend and I plan to kayak the Danube river from
        its source in the Black Forest of Germany to its mouth at the Black Sea in Romania--a journey of nearly 1,800 miles. There's a reason there are more astronauts from my home state than any other:
        our denizens just can't seem to wait to get out and blaze a trail through the obscurity that settles over such a small slice of the world at large.
      </p>
    </div>
    <img class="info-img" src="../../assets/FrontRange.jpg" />
</article>
<article class="container info-panel">
  <img class="info-img" src="../../assets/samplecode.png" />
  <div class="text-hold">
    <h3 class="info-title"><span class="splash-red">Master of Some</span></h3>
    <p class="info-text" style="clear:both">
      I've done so many different jobs over the years it seems like a whirlwind of half-acknowledged career advice, small successes, cuts and bruises, and a whole bunch of inconsistency. I'm happy to say I've finally settled
      on something, and I couldn't be happier with my decision to become a web developer. I attended Galvanize's Full Stack Immersive from October of 2016 to the following March. The stress, the challenges, the multitude of new and
      imperative information, the late nights, the Red Bulls, and everything else that converged to make such an intense program so gratifying were the lifeblood of my success. I have a real skill now, and with it comes a new medium
      through which literally anything is possible. Everything in this increasingly global-centric world is becoming reliant on digital media, and I'm happy I got into it and found a calling. They say you can't work the full stack.
      I say take a look at my GitHub.
    </p>
  </div>
</article>
<article class="container info-panel">
  <div class="text-hold">
    <h3 class="info-title">Daily Doings of a Dude and his Dog</h3>
    <p class="info-text" style="clear:both">
      I've done so many different jobs over the years it seems like a whirlwind of half-acknowledged career advice, small successes, cuts and bruises, and a whole bunch of inconsistency. I'm happy to say I've finally settled
      on something, and I couldn't be happier with my decision to become a web developer. I attended Galvanize's Full Stack Immersive from October of 2016 to the following March. The stress, the challenges, the multitude of new and
      imperative information, the late nights, the Red Bulls, and everything else that converged to make such an intense program so gratifying were the lifeblood of my success. I have a real skill now, and with it comes a new medium
      through which literally anything is possible. Everything in this increasingly global-centric world is becoming reliant on digital media, and I'm happy I got into it and found a calling. They say you can't work the full stack.
      I say take a look at my GitHub.
    </p>
  </div>
  <img class="info-img" src="../../assets/roscoe.jpg" id="portrait"/>

</article>
</article>
</div>
