<div id="contact-main">
  <div class="center-bar" id="contact-center">
    <div class="icon-label-box">
      <a href="https://www.github.com/seatonm123" ng-mouseover="$ctrl.gitShown = true" ng-mouseleave="$ctrl.gitShown = false">
        <img class="contact-nav-icon" src="../../assets/github.png" name="github"/>
      </a>
      <label for="github" ng-hide="!$ctrl.gitShown">Github</label>
    </div>
    <div class="icon-label-box">
      <a href="#" ng-mouseover="$ctrl.linkedShown = true" ng-mouseleave="$ctrl.linkedShown = false">
        <img class="contact-nav-icon" src="../../assets/linkedin.png" name="linkedin"/>
      </a>
      <label for="linkedin" ng-hide="!$ctrl.linkedShown">LinkedIn</label>
    </div>
    <div class="icon-label-box">
      <a href="#" ng-mouseover="$ctrl.mailShown = true" ng-mouseleave="$ctrl.mailShown = false">
        <img class="contact-nav-icon" src="../../assets/gmail.png" name="gmail"/>
      </a>
      <label for="gmail" ng-hide="!$ctrl.mailShown">Gmail</label>
    </div>
    <div class="icon-label-box">
      <a href="#" ng-mouseover="$ctrl.faceShown = true" ng-mouseleave="$ctrl.faceShown = false">
        <img class="contact-nav-icon" src="../../assets/facebook.png" name="facebook"/>
      </a>
      <label for="facebook" ng-hide="!$ctrl.faceShown">Facebook</label>
    </div>
    <div class="icon-label-box">
      <a href="#" ng-mouseover="$ctrl.twitShown = true" ng-mouseleave="$ctrl.twitShown = false">
        <img class="contact-nav-icon" src="../../assets/twitter.png" name="twitter"/>
      </a>
      <label for="twitter" ng-hide="!$ctrl.twitShown">Twitter</label>
    </div>
    <div class="icon-label-box">
      <a href="#" ng-mouseover="$ctrl.instaShown = true" ng-mouseleave="$ctrl.instaShown = false">
        <img class="contact-nav-icon" src="../../assets/instagram.png" name="instagram"/>
      </a>
      <label for="instagram" ng-hide="!$ctrl.instaShown">Instagram</label>
    </div>
  </div>
</div>
